<!--/ Nav Star /-->
<div gdGap.xl="2px" class="mb-6">
  <header id="scrollingDiv" class="header-container" [class.scrolledDown]="isScrolledDown" (scroll)="onScroll($event)">
    <nav class="menu menu-vertical lg:menu-horizontal ">
      <div class="navbar bg-transparent flex justify-between">
        <div class="navbar-start">
          <a class="btn btn-ghost text-xl">logo</a>
        </div>
        <div class="navbar-center hidden lg:flex justify-between">
          <ul class="nav-menu menu menu-horizontal px-1">
            <li class="fadedown-enter-done list-item" style="transition-delay: 0ms;"><a href="/#about">About</a></li>
            <li class="fadedown-enter-done list-item" style="transition-delay: 100ms;"><a href="/#experience">Experience</a>
            </li>
            <li class="fadedown-enter-done list-item" style="transition-delay: 200ms;"><a href="/#projects">Work</a>
            </li>
            <li class="fadedown-enter-done list-item" style="transition-delay: 300ms;"><a href="/#contact">Contact</a>
            </li>
          </ul>
          <div class="fadedown-enter-done" style="transition-delay: 400ms;"><button class="resume-button"
              href="/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</button></div>
        </div>
        <div class="">
          <div role="button" class="lg:hidden">
            <div class="drawer drawer-end">
              <input id="my-drawer" type="checkbox" class="drawer-toggle" />
              <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer" class="btn btn-circle swap swap-rotate">
                  <!-- this hidden checkbox controls the state -->
                  <input type="checkbox" />
                  <!-- hamburger icon -->
                  <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    viewBox="0 0 512 512">
                    <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
                  </svg>
                  <!-- close icon -->
                  <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    viewBox="0 0 512 512">
                    <polygon
                      points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
                  </svg>
                </label>
              </div>
              <div class="drawer-side">
                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full text-base-content" style="background-color: var(--navy);
                  color: white;
                  justify-content: flex-start;
                  align-items: center;
                  padding: 4rem;
                  font-size: xx-large;
                  gap: 30px;
                  padding-top: 10rem;">
                  <!-- Sidebar content here -->
                  <li><a href="#about">About</a></li>
                  <li><a href="#experience">Experience</a>
                  </li>
                  <li><a href="#projects">Work</a>
                  </li>
                  <li><a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!--/ Nav End /-->
</div>
<aside class="_social-links" style="z-index: 9999;">
  <ul class="_links-list">
    <li class="_social-link"><a href="https://www.linkedin.com/in/dhirendra-singh-negi-8124611b4/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li class="_social-link"><a href="https://github.com/DhiruH" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li class="_social-link"><a href="mailto:@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a>
    </li>
  </ul>
</aside>


<!-- HTML !-->
<!-- <button class="button-57" role="button"><span class="text">Button 57</span><span>Alternate text</span></button> -->