<!--/ Nav Star /-->
<div gdGap.xl="2px">
    <header class="header-container">
      <nav>
        <div class="logo">
          <a href="">logo</a>
        </div>
        <div class="nav-links">
          <ol class="nav-menu">
            <li class="fadedown-enter-done list-item" style="transition-delay: 0ms;"><a href="/#about">About</a></li>
            <li class="fadedown-enter-done list-item" style="transition-delay: 100ms;"><a href="/#jobs">Experience</a>
            </li>
            <li class="fadedown-enter-done list-item" style="transition-delay: 200ms;"><a href="/#projects">Work</a></li>
            <li class="fadedown-enter-done list-item" style="transition-delay: 300ms;"><a href="/#contact">Contact</a>
            </li>
          </ol>
          <div class="fadedown-enter-done" style="transition-delay: 400ms;"><button class="button-57" href="/resume.pdf"
              target="_blank" rel="noopener noreferrer"><span class="text">Resume</span><span>View</span></button></div>
        </div>
      </nav>
    </header>
    <!--/ Nav End /-->
  </div>
  <!-- <aside class="_social-links">
    <ul class="_links-list">
      <li class="_social-link"><a href="https://twitter.com" target="_blank"><i
            class="fa-brands fa-twitter"></i></a></li>
      <li class="_social-link"><a href="https://github.com" target="_blank"><i
            class="fa-brands fa-github"></i></a></li>
      <li class="_social-link"><a href="mailto:@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a>
      </li>
    </ul>
  </aside> -->


  <!-- HTML !-->
  <!-- <button class="button-57" role="button"><span class="text">Button 57</span><span>Alternate text</span></button> -->